@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
       background-color: #545454;
       font-family: "Poppins", sans-serif;
       font-weight: 300;
}

.container {
       width: 1200px;
       margin: 0 auto;
       padding: 0 20px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
}

.card {

       width: 90%;
       border: none;
       margin-left:10px;
       margin-right:10px;
       border-radius: 15px;
       padding: 8px;
       background-color: #fff;
       position: relative;
}

.upper {

       height: 20%;

}

.upper img {

       width: 100%;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;

}

.imgg {
       height: 100%;
       width: 100%;
}

.profile {
       margin-left: 35%;
       margin-right: 35%;
       border: 3px solid #fff;
       border-radius: 50%;

}

* {
       box-sizing: border-box;
}
.stats {

       font-size: 29px;
}




.imgl{
       width:150px;
       height:150px;
}
.articoli{
       color: black;
}