body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(61, 82, 160);
    background: linear-gradient(150deg, rgba(61, 82, 160, 0.9559164733178654) 13%, rgba(112, 145, 230, 0.9118329466357309) 37%, rgba(134, 151, 196, 0.8561484918793504) 54%, rgba(173, 187, 218, 1) 68%, rgba(237, 232, 245, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

img {
    object-fit: cover;
}